<header>
  <div class="logo">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </div>
  <nav>
    {% for item in site.data.settings.menu %}
    <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <span><small>[
      {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code class="highligher-rouge">
          <nobr>{{ tag_name }}</nobr>
        </code>&nbsp;</a>
      {% endfor %}
      ]</small></span>
</header>